{% include 'overall_header.html' %}

<a id="maincontent"></a>

<h1>{{ L_TITLE }}</h1>
<p>{{ L_EXPLAIN }}</p>

{% if S_TEST_RESULT %}
<div class="successbox {% if TEST_STATUS == 'error' %}errorbox{% endif %}" style="margin-bottom: 15px;">
	<h3>{% if TEST_STATUS == 'success' %}{{ lang('WOW_BNET_STATUS_OK') }}{% else %}{{ lang('WOW_BNET_STATUS_FAIL') }}{% endif %}</h3>
	<p>{{ TEST_RESULT }}</p>
	{% if TEST_TOKEN_PREVIEW %}
	<p>{{ lang('WOW_BNET_TOKEN_PREVIEW') }}: <code>{{ TEST_TOKEN_PREVIEW }}</code></p>
	{% endif %}
</div>
{% endif %}

<form id="acp_battlenet" method="post" action="{{ U_ACTION }}">

<fieldset>
	<legend>{{ lang('WOW_BNET_CREDENTIALS') }}</legend>
	<dl>
		<dt><label>{{ lang('WOWAPIKEY') }}:</label></dt>
		<dd>
			{% if CLIENT_ID %}
				<code>{{ CLIENT_ID }}</code>
			{% else %}
				<em>{{ lang('WOW_BNET_NOT_SET') }}</em>
			{% endif %}
		</dd>
	</dl>

	<dl>
		<dt><label>{{ lang('WOWPRIVKEY') }}:</label></dt>
		<dd>
			{% if CLIENT_SECRET_MASKED %}
				<code>{{ CLIENT_SECRET_MASKED }}</code>
			{% else %}
				<em>{{ lang('WOW_BNET_NOT_SET') }}</em>
			{% endif %}
		</dd>
	</dl>

	<dl>
		<dt><label>{{ lang('WOWAPILOCALE') }}:</label></dt>
		<dd>
			{% if API_LOCALE %}
				<code>{{ API_LOCALE }}</code>
			{% else %}
				<em>{{ lang('WOW_BNET_NOT_SET') }}</em>
			{% endif %}
		</dd>
	</dl>

	<p>
		<a href="{{ U_EDIT_GAME }}" class="button2">{{ lang('WOW_BNET_EDIT_CREDENTIALS') }}</a>
	</p>
</fieldset>

<fieldset>
	<legend>{{ lang('WOW_BNET_TEST_CONNECTION') }}</legend>
	<p>{{ lang('WOW_BNET_TEST_EXPLAIN') }}</p>

	<dl>
		<dt><label for="test_region">{{ lang('WOW_BNET_TEST_REGION') }}:</label></dt>
		<dd>
			<select name="test_region" id="test_region">
				<option value="eu">EU</option>
				<option value="us">US</option>
				<option value="kr">KR</option>
				<option value="tw">TW</option>
			</select>
		</dd>
	</dl>

	<p>
		<input class="button1" type="submit" name="test_connection" value="{{ lang('WOW_BNET_TEST_NOW') }}" {% if not HAS_CREDENTIALS %}disabled="disabled"{% endif %} />
		{% if not HAS_CREDENTIALS %}
		<br /><span class="error">{{ lang('WOW_BNET_NO_CREDENTIALS') }}</span>
		{% endif %}
	</p>
</fieldset>

<fieldset>
	<legend>{{ lang('WOW_SYNC_SCHEDULE') }}</legend>
	<p>{{ lang('WOW_SYNC_SCHEDULE_EXPLAIN') }}</p>

	<dl>
		<dt><label for="sync_enabled">{{ lang('WOW_SYNC_ENABLED') }}:</label></dt>
		<dd>
			<label><input type="checkbox" name="sync_enabled" id="sync_enabled" value="1" {% if S_SYNC_ENABLED %}checked="checked"{% endif %} /></label>
		</dd>
	</dl>

	<dl>
		<dt><label for="sync_interval">{{ lang('WOW_SYNC_INTERVAL') }}:</label></dt>
		<dd>
			<select name="sync_interval" id="sync_interval">
				<option value="3600" {% if SYNC_INTERVAL == 3600 %}selected="selected"{% endif %}>{{ lang('WOW_SYNC_INTERVAL_1H') }}</option>
				<option value="10800" {% if SYNC_INTERVAL == 10800 %}selected="selected"{% endif %}>{{ lang('WOW_SYNC_INTERVAL_3H') }}</option>
				<option value="21600" {% if SYNC_INTERVAL == 21600 %}selected="selected"{% endif %}>{{ lang('WOW_SYNC_INTERVAL_6H') }}</option>
				<option value="43200" {% if SYNC_INTERVAL == 43200 %}selected="selected"{% endif %}>{{ lang('WOW_SYNC_INTERVAL_12H') }}</option>
				<option value="86400" {% if SYNC_INTERVAL == 86400 %}selected="selected"{% endif %}>{{ lang('WOW_SYNC_INTERVAL_24H') }}</option>
			</select>
		</dd>
	</dl>

	<dl>
		<dt><label>{{ lang('WOW_SYNC_LAST_RUN') }}:</label></dt>
		<dd>{{ LAST_SYNC }}</dd>
	</dl>

	{% if LAST_SYNC_RESULT %}
	<dl>
		<dt><label>{{ lang('WOW_SYNC_LAST_RESULT') }}:</label></dt>
		<dd>{{ LAST_SYNC_RESULT }}</dd>
	</dl>
	{% endif %}

	<p>
		<input class="button1" type="submit" name="save_sync_settings" value="{{ lang('WOW_SYNC_SAVE_SETTINGS') }}" />
		<input class="button2" type="submit" name="sync_now" value="{{ lang('WOW_SYNC_NOW') }}" {% if not HAS_CREDENTIALS %}disabled="disabled"{% endif %} />
	</p>
</fieldset>

<fieldset>
	<legend>{{ lang('WOW_BNET_TOKEN_CACHE') }}</legend>
	<p>{{ lang('WOW_BNET_TOKEN_CACHE_EXPLAIN') }}</p>

	<table class="table1 zebra-table" cellspacing="1">
		<thead>
			<tr>
				<th>{{ lang('WOW_BNET_REGION') }}</th>
				<th>{{ lang('WOW_BNET_TOKEN_STATUS') }}</th>
				<th>{{ lang('WOW_BNET_TOKEN_PREVIEW') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for region_row in loops.region_row %}
			<tr>
				<td>{{ region_row.REGION }}</td>
				<td>
					{% if region_row.HAS_TOKEN %}
						<span style="color: green; font-weight: bold;">{{ lang('WOW_BNET_CACHED') }}</span>
					{% else %}
						<span style="color: #999;">{{ lang('WOW_BNET_NOT_CACHED') }}</span>
					{% endif %}
				</td>
				<td>
					{% if region_row.HAS_TOKEN %}
						<code>{{ region_row.TOKEN_PREVIEW }}</code>
					{% else %}
						&mdash;
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<br />
	<input type="hidden" name="action" value="clear_cache" />
	<input class="button2" type="submit" name="submit" value="{{ lang('WOW_BNET_CLEAR_CACHE') }}" />
</fieldset>

{{ S_FORM_TOKEN }}
</form>

{% include 'overall_footer.html' %}
