{% INCLUDE 'overall_header.html' %}
<style>
    fieldset dt { width: 25%; }
    fieldset dd { margin-left: 25%; }
</style>
<span><h1>{{ L_TITLE }}</h1></span>
<div>
    <form id="listachievements" method="post" action="{{ F_PLAYERS_LIST }}">

        <fieldset>
            <dl>
                <dt><label for="achievement_guild_id">{{ lang('GUILD') }}:</label></dt>
                <dd>
                    <div style="display: table;">
                        {% if GUILD_EMBLEM %}<div style="width:50%; float: left"><a href="{{ U_VIEW_GUILD }}"><img style="width:80px; height:80px" src="{{ GUILD_EMBLEM }}" alt="" /></a></div>{% endif %}
                        <div style="width:50%; vertical-align: middle; display: table-cell;">
                            <select id="achievement_guild_id" name="achievement_guild_id" class="input" onchange="javascript:form.submit();" >
                                {% for guild_row in loops.guild_row %}
                                <option value="{{ guild_row.VALUE }}"{{ guild_row.SELECTED }}>{{ guild_row.OPTION }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt><label>{{ lang('ACTIONS') }}:</label></dt>
                <dd>
                    <fieldset class="submit-buttons" style="text-align: left;">
                    <input type="submit" name="achievaddmanual" value="{{ lang('ADD_ACHIEVEMENT_MANUAL') }}" class="button1" />
                    <input type="submit" name="achievaddapi" value="{{ lang('ADD_ACHIEVEMENT_API') }}" class="button1" />
                    <input type="submit" name="achievsynccats" value="{{ lang('ACHIEV_SYNC_CATEGORIES') }}" class="button1" />
                    </fieldset>
                </dd>
            </dl>
        </fieldset>


        {% if loops.players_row|length %}
        <div class="pagination">
            {% if loops.pagination|length %}
            {% INCLUDE 'pagination.html' %}
            {% else %}
            {{ PAGE_NUMBER }}
            {% endif %}
        </div>

        <table class="table1 responsive" width="100%" border="0" cellspacing="1" cellpadding="2">
            <thead>
            <tr>
                <th style="text-align:left; width:30%"><a href="{{ O_NAME }}">{{ lang('ACHI_TITLE') }}</a></th>
                <th style="text-align:left; width:40%">{{ lang('ACHI_DESC') }}</th>
                <th style="text-align:center; width:8%">{{ lang('ACHI_POINTS') }}</th>
                <th style="text-align:center; width:12%">{{ lang('COMPLETED') }}</th>
                <th style="text-align:center; width:5%">{{ lang('DELETE') }}
                    <span class="small"><a href="#" onclick="marklist('listachievements', 'delete_id', true); return false;">{{ lang('MARK_ALL') }}</a> <br />
                    <a href="#" onclick="marklist('listachievements', 'delete_id', false); return false;">{{ lang('UNMARK_ALL') }}</a></span>
                </th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th colspan="5" class="footer">{{ LISTACHI_FOOTCOUNT }}</th>
            </tr>
            </tfoot>
            <tbody>
            {% for row in loops.players_row %}
            <tr class="{{ loop.index is even ? 'row1' : 'row2' }}">
                <td style="text-align:left;"><strong>{{ row.TITLE }}</strong></td>
                <td style="text-align:left;">{{ row.DESCRIPTION }}</td>
                <td style="text-align:center;">{{ row.POINTS }}</td>
                <td style="text-align:center;">{{ row.COMPLETED }}</td>
                <td style="text-align:center;">
                    <input type="checkbox" class="radio" name="delete_id[{{ row.ID }}]" value="1" />
                </td>
            </tr>
            {% endfor %}
            <tr class="highlight">
                <td colspan="4"></td>
                <td style="text-align:center;">
                    <input class="button2" name="delete" type="submit" value="{{ lang('DELETE_ACHIEVEMENT') }}" />
                </td>
            </tr>
            </tbody>
        </table>

        <div class="pagination">
            {% if loops.pagination|length %}
            {% INCLUDE 'pagination.html' %}
            {% else %}
            {{ PAGE_NUMBER }}
            {% endif %}
        </div>

        {% else %}

        <div class="warningbox">
            <h3>{{ lang('WARNING') }}</h3>
            <p>{{ lang('WARNING_NOACHIEVEMENTS') }}</p>
        </div>

        {% endif %}
    </form>
</div>

{% INCLUDE 'overall_footer.html' %}
