<div class="player-detail-body">
	<fieldset>
		<legend>{{ lang('WOW_TALENTS') }}{% if WOW_TALENTS_SPEC_NAME %} &mdash; {{ WOW_TALENTS_SPEC_NAME }}{% endif %}</legend>
		{% if WOW_TALENTS_HAS_DATA %}
		<div class="wow-talents-columns">
			<div class="wow-talents-column">
				<h4>{{ lang('WOW_TALENTS_CLASS') }}</h4>
				<ul class="wow-talent-list">
					{% for row in class_talent_row %}
					<li class="wow-talent-row">{% if row.LINK %}{{ row.LINK|raw }}{% elseif row.SPELL_ID %}<span data-wowhead="spell={{ row.SPELL_ID }}">&nbsp;{{ row.NAME }}</span>{% else %}{{ row.NAME }}{% endif %}{% if row.S_MULTI_RANK %} ({{ row.RANK }}){% endif %}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="wow-talents-column">
				<h4>{{ lang('WOW_TALENTS_SPEC') }}</h4>
				<ul class="wow-talent-list">
					{% for row in spec_talent_row %}
					<li class="wow-talent-row">{% if row.LINK %}{{ row.LINK|raw }}{% elseif row.SPELL_ID %}<span data-wowhead="spell={{ row.SPELL_ID }}">&nbsp;{{ row.NAME }}</span>{% else %}{{ row.NAME }}{% endif %}{% if row.S_MULTI_RANK %} ({{ row.RANK }}){% endif %}</li>
					{% endfor %}
				</ul>
			</div>
			{% if hero_talent_row is defined and hero_talent_row|length %}
			<div class="wow-talents-column">
				<h4>{{ lang('WOW_TALENTS_HERO') }}</h4>
				<ul class="wow-talent-list">
					{% for row in hero_talent_row %}
					<li class="wow-talent-row">{% if row.LINK %}{{ row.LINK|raw }}{% elseif row.SPELL_ID %}<span data-wowhead="spell={{ row.SPELL_ID }}">&nbsp;{{ row.NAME }}</span>{% else %}{{ row.NAME }}{% endif %}{% if row.S_MULTI_RANK %} ({{ row.RANK }}){% endif %}</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
		{% else %}
		<p>{{ lang('WOW_TALENTS_NO_DATA') }}</p>
		{% endif %}
	</fieldset>
</div>
